*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.svg {
  vertical-align: middle;
}

.body {
  background: var(--background-white);
  font-family: var(--main-font-family);
  color: var(--title-color);
}

.h1 {
  justify-self: center;
  width: 365px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-white);
  text-align: center;
  margin: 0 auto;
}

.titles {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.16;
}

.icon {
  display: flex;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .h1 {
    margin-left: 252px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }

  .section {
    margin-top: 94px;
    margin-bottom: 94px;
  }

  .titles {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    margin-left: -15px;
  }
}
